.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

/*確認背景狀態*/
.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*確認要在哪一層*/
  z-index: -1;
}